.react-draggable-transparent-selection {

  *::selection {
    color: inherit;
  }
}

.dashboard {
  &.react-grid-layout {
    transition: none;
  }

  .react-grid-item.cssTransforms {
    transition-property: none;
  }

  .react-resizable-handle {
    z-index: 2;
  }

  .react-grid-item {
    @include center;
  }
}
