$FONT_WEIGHT_THIN: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

a, p, span, div, table, tr, td, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  @include center;
}
