$DARK_BLUE: #1d3557;
$MEDIUM_BLUE: #457b9d;
$LIGHT_BLUE: #aed9e0;
$LIGHT: #f1faee;
$DARK: #2b2d42;
$LIGHT_GREY: #8d99ae;
$GREEN: #2fc4b2;
$RED: #f40552;
$COLD_PINK: #f7e9e3;
$HOT_PINK: #ffc0c2;

:export {
  RED: $RED;
  GREEN: $GREEN;
  COLD_PINK: $COLD_PINK;
  HOT_PINK: $HOT_PINK;
  DARK_BLUE: $DARK_BLUE;
  MEDIUM_BLUE: $MEDIUM_BLUE;
  LIGHT_BLUE: $LIGHT_BLUE;
  LIGHT: $LIGHT;
  LIGHT_GREY: $LIGHT_GREY;
  DARK: $DARK;
}
