$DARK_BLUE: #1d3557;
$FONT: #497081;
$MEDIUM_BLUE: #457b9d;
$LIGHT_BLUE: #aed9e0;
$LIGHT: #f1faee;
$DARK: #2b2d42;
$MEDIUM_GREY: #949494;
$LIGHT_GREY: #d3d3d3;
$GREEN: #06623b;
$RED: #f40552;
$COLD_PINK: #f7e9e3;
$HOT_PINK: #ffc0c2;
$WHITE: #ffffff;
$DARK_YELLOW: #fda231;
$LIGHT_YELLOW: #fdca31;
$SHADOW: rgba(0,0,0,0.3);

:export {
  FONT: $FONT;
  RED: $RED;
  GREEN: $GREEN;
  COLD_PINK: $COLD_PINK;
  HOT_PINK: $HOT_PINK;
  DARK_BLUE: $DARK_BLUE;
  MEDIUM_BLUE: $MEDIUM_BLUE;
  LIGHT_BLUE: $LIGHT_BLUE;
  LIGHT: $LIGHT;
  LIGHT_GREY: $LIGHT_GREY;
  MEDIUM_GREY: $MEDIUM_GREY;
  DARK: $DARK;
  WHITE: $WHITE;
  DARK_YELLOW: $DARK_YELLOW;
  LIGHT_YELLOW: $LIGHT_YELLOW;
  SHADOW: $SHADOW;
}
