$FONT_WEIGHT_THIN: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 600;

$FONT_SIZE_HEADER: 20px;
$FONT_SIZE_SUBTITLE: 12px;
$FONT_SIZE_REGULAR: 12px;

$CONTAINER_HEADER_HEIGHT: 100;
$CHART_LEFT_RIGHT_PADDING: 30;

:export {
  CONTAINER_HEADER_HEIGHT: $CONTAINER_HEADER_HEIGHT;
  CHART_LEFT_RIGHT_PADDING: $CHART_LEFT_RIGHT_PADDING;
  FONT_SIZE_REGULAR: $FONT_SIZE_REGULAR;
}
