.container {
  @include center;

  flex-direction: column;
  background: transparent;
  border-radius: 3px;
  box-shadow: 1px 2px 10px $SHADOW;
  background-color: $WHITE;
  height: 100%;
  width: 100%;

  .header {
    @include center;

    flex-direction: column;
    height: $CONTAINER_HEADER_HEIGHT+px;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 35%;
      width: 30%;
      border-bottom: 1px solid $FONT;
    }

    h1 {
      font-weight: $FONT_WEIGHT_BOLD;
      font-size: $FONT_SIZE_HEADER;
      line-height: 30px;
      text-align: center;
      margin: 0 auto;
    }

    h3 {
      font-size: $FONT_SIZE_SUBTITLE;
      line-height: 18px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
