.react-draggable-transparent-selection {

  *::selection {
    color: inherit;
  }
}

.dashboard {
  &.react-grid-layout {
    transition: none;
  }

  .react-grid-item.cssTransforms {
    transition-property: none;
  }


  .container {
    height: 100%;
    background: white;
  }

  .react-resizable-handle {
    z-index: 2;
    &::after {
      border-bottom-color: black;
      border-right-color: black;
    }
  }
}
