.down-arrow {
  position: fixed;
  width: 50px;
  height: 100px;
  bottom: -20px;
  left: 50%;

  &.bounce {
    animation: bounce 2s infinite;
  }

  &.hide {
    visibility: hidden;
  }

  svg {
    fill: $DARK;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
